<header>
    <nav class="navbar">
        <div class="logo">
            <img src="assets/Images/MITS.png" alt="MITS Logo" />
            <div class="logo-text">
            <h1>MITS</h1> 
            <h1>Madanapalle </h1>
            </div>
            <img src="assets/Images/webclub.png" alt="WebClub Logo">
        </div>
        <button class="hamburger">
            <i class="fas fa-bars"></i>
        </button>
        <div class="nav-links">
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Workshops</a></li>
                <li><a href="#">Gallery</a></li>
            </ul>
        </div>
    </nav>
</header>