.events-section {
    background-color: #1b1b3a;
    color: #ffffff;
    padding: 2rem;
    padding-top: 6rem;
    text-align: center;
}

.events-section .heading h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.events-section .heading h3 {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.events-list::-webkit-scrollbar {
    display: none;
}

.events-list {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 65vh;
    overflow-y: auto;
    margin-inline: auto;
    background: linear-gradient(to bottom right,#ffecec,#FFFFFF, #999999);
    border-radius: 20px;
    margin-bottom: 2rem;
}

.events-list h4 {
    padding: 18px;
    font-weight: 500;
    color: #1f1f3b;
}

.events-list hr {
    border: 0.5px solid grey;
    width: 100%;
}

.reports-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background: #F0A028;
    color: #ffffff;
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.125rem;
    transition: background-color 0.3s ease;
}

.reports-btn:hover {
    background-color: #f8b44c;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .events-section .heading h1 {
        font-size: 2rem;
    }

    .events-section .heading h3 {
        font-size: 1rem;
    }

    .events-list {
        width: 70%;
    }
}

@media (max-width: 992px) {
    .events-section .heading h1 {
        font-size: 1.75rem;
    }

    .events-section .heading h3 {
        font-size: 0.9rem;
    }

    .events-list {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .events-section .heading h1 {
        font-size: 1.5rem;
    }

    .events-section .heading h3 {
        font-size: 0.8rem;
    }

    .events-list {
        width: 90%;
    }

    .reports-btn {
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .events-section .heading h1 {
        font-size: 1.25rem;
    }

    .events-section .heading h3 {
        font-size: 0.7rem;
    }

    .events-list {
        width: 100%;
    }

    .reports-btn {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }
}