footer {
  margin-top: 0px;
  background-color: #35354E; 
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10%;
}

.footer-section {
  flex: 1 1 200px;
  margin: 10px;
}

.footer-logo {
  width: 110px;
  border-radius: 0%;
  border: 2px solid white;
  margin: 10px 0;
}

.footer-section h3, .footer-section h4 {
  margin-bottom: 10px;
  color: #f0a028;
  text-shadow: 2px 2px 2px rgb(17, 17, 17);
}

.footer-section .contact-icons {
  color: #f0a028;
  text-shadow: 2px 2px 2px rgb(17, 17, 17);
}

.footer-section h4 {
  font-size: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li, p {
  margin: 5px 0;
  line-height: 26px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-section ul li a:hover {
  text-decoration: underline;
  color: bisque;
}

.footer-bottom {
  text-align: center;
  margin-top: 5px;
  padding-top: 5px;
  font-size: 14px;
}

.footer-logo-caption {
  font-size: 25px;
}

#mail {
  color: white;
  text-decoration: none;
}

#mail:hover {
  text-decoration: underline;
  color: bisque;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
  }

  .footer-section {
    flex: 1 1 100%;
    margin: 10px 0;
    text-align: center;
  }

  .footer-logo {
    width: 80px;
  }

  .footer-section h4 {
    font-size: 18px;
  }

  .footer-logo-caption {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .footer-container {
    padding: 0 2%;
  }

  .footer-section {
    margin: 5px 0;
  }

  .footer-logo {
    width: 60px;
  }

  .footer-section h4 {
    font-size: 16px;
  }

  .footer-logo-caption {
    font-size: 18px;
  }

  .footer-bottom {
    font-size: 12px;
  }
}