.projects-section {
    background-color: hsl(240, 31%, 18%);
    padding: 2rem 0;
}

.heading {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
        margin: 1rem;
        font-size: 10vh;
    }
    h3 {
        font-size: 4vh;
        margin: 2rem;
    }
}

.project-container {
    color: white;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-around;
    margin-inline: auto;
    width: 80%;
    gap: 20px;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    padding: 1rem;
    gap: 2rem;
    background-color: rgb(71, 153, 201);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    .overlay {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    img {
        max-width: 100%;
        border-radius: 10px;
    }
    h2 {
        margin-left: 1rem;
        font-size: 1.5rem;
    }
    p {
        margin: 1rem 0;
    }
    button {
        color: white;
        padding: 8px;
        border-radius: 5px;
        background-color: #F0A028;
        border: none;
        outline: none;
        width: 60%;
        margin-inline: auto;
        cursor: pointer;
    }
}