/* Projects Section */
.projects-section {
    background-color: hsl(240, 31%, 18%);
    padding: 2rem 0;
    padding-top: 5rem;
    text-align: center;
    color: #fff;
}

/* Heading Styles */
.projects-section .heading h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.projects-section .heading h3 {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

/* Project Container */
.project-container {
    color: white;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-around;
    margin-inline: auto;
    gap: 20px;
    position: relative;
    z-index: 1;
    padding: 2rem;
    border-radius: 10px;
    overflow: hidden;
}

.project-container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 0;
}

/* Project Cards */
.project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    padding: 1rem;
    gap: 0.7rem;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card .overlay {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-card img {
    max-width: 100%;
    border-radius: 10px;
}

.project-card h2 {
    margin-left: 1rem;
    font-size: 1.5rem;
}

.project-card p {
    margin: 1rem 0;
}

.project-card .exp-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
    background-color: #F0A028;
    border: none;
    outline: none;
    width: 60%;
    margin-inline: auto;
    z-index: 1;
}

.project-card .exp-btn:hover {
    background-color: #f8b44c;
}

.project-card::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .projects-section .heading h1 {
        font-size: 8vh;
    }

    .projects-section .heading h3 {
        font-size: 3vh;
    }

    .project-card h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .projects-section .heading h1 {
        font-size: 6vh;
    }

    .projects-section .heading h3 {
        font-size: 2.5vh;
    }

    .project-card h2 {
        font-size: 1rem;
    }

    .project-card .exp-btn {
        width: 80%;
    }
}